{% block captcha_widget %}
{% if is_human %}
-
{% else %}
{% spaceless %}
    <img class="captcha_image" id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
    {% if reload %}
    <a class="captcha_reload" href="#">{{ 'Renew'|trans({}, 'gregwar_captcha') }}</a>
    <script type="text/javascript" src="{{ path('gregwar_captcha.generate_captcha_reload') }}?image_id={{ image_id }}&captcha_code={{ captcha_code }}"></script>
    {% endif %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endif %}
{% endblock %}
